*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(226, 226, 226);
    font-family: 'Roboto';
}
h1{
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}
.slider {
    display: block;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.slider__box {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
.slider__img {
    width: 100%;
    box-shadow: 0px 5px 15px  black;
    border-radius: 5px;
}
.btn {
    padding: 10px 25px;
    background-color:black;
    color: azure;
}
.btn:active{
    background-color: rgb(77, 77, 77);
}
.btn:last-child{
    margin-left: 5px;
}
.btn__box{
    max-width: 173px;
    margin: 20px auto;
}
